<?xml version="1.0" encoding="UTF-8"?>
<!-- Don't forget to set system property
-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
or
-Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.BasicAsyncLoggerContextSelector
     to make _all_ loggers asynchronous.

See also:
  - https://springframework.guru/asynchronous-logging-with-log4j-2/
  - https://logging.apache.org/log4j/2.x/manual/appenders.html
  - https://logging.apache.org/log4j/2.x/manual/async.html
-->

<Configuration status="WARN" name="joal" shutdownHook="disable">
    <Properties>
        <Property name="appenderPatternLayout">%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%15t] %c{1.}: %msg%n%throwable}{FATAL=Bright red, ERROR=red, WARN=Normal yellow, INFO=Normal, DEBUG=Normal, TRACE=Normal}</Property>
    </Properties>

    <Appenders>
        <!--     Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/app.log"
                                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="${appenderPatternLayout}" />
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time: -->
                <OnStartupTriggeringPolicy />

                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingRandomAccessFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${appenderPatternLayout}" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- about includeLocation: https://logging.apache.org/log4j/2.x/manual/async.html#Location -->
        <Root level="INFO" includeLocation="false">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
