<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="org.araymond.joal" level="INFO" additivity="false">
            <Appender-ref ref="CONSOLE"/>
        </Logger>
    </Loggers>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1.}: %msg%n%throwable}{FATAL=Bright red, ERROR=red, WARN=Normal yellow, INFO=Normal, DEBUG=Normal, TRACE=Normal}"
            />
        </Console>
    </Appenders>

</Configuration>